body {
    margin: 0;
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.logo {
    width: 300px;
}

header {
    font-size: x-large;
}

input[type ="text"] {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    border-radius: 500px;
    border: 2px solid #ccc;
}

input[type ="date"] {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    border-radius: 500px;
    border: 2px solid #ccc;
}

button {
    font-size: 20px;
    padding: 12px;
    width: 32.5%;
    border-radius: 500px;
    border: 2px solid #ccc;
}

.bloco_cadastro {
    background: black;
    border: 2px solid white;
    padding: 5%;
    
}