*{
    padding: 0;
    margin: 0;
}

/* html */
body{
    position: relative;
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "braco corpo"
        "pe pe";
        grid-template-rows: 300px auto 400px;
        grid-template-columns: 350px auto;
}

header{
    background-color: black;
    grid-area: cabeca;
    color: white;
}

aside{
    background-color: rgb(66, 66, 66);
    grid-area: braco;
    color: black;
}

main{
    background-color: red;
    grid-area: corpo;
    color: black;
}

footer{
    background-color: black;
    grid-area: pe;
    color: white;
}

.logo{
    height: 300px;
}
/* html */

/* media */
@media only screen and (max-width: 850px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "braco"
        "corpo"
        "pe";
        grid-template-rows: 200px  100px auto 200px;
        grid-template-columns: auto;
    }
    .logo{
        height: 200px;
    }
}
@media only screen and (max-width: 450px){
    body{
    display: grid;
    grid-template-areas:
        "cabeca"
        "corpo"
        "pe";
        grid-template-rows: 200px auto 200px;
        grid-template-columns: auto;
    }
    aside{
        display: none;
    }
    .logo{
        height: 200px;
    }
}

/* media */

/* card */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    width: 500px;
    height: 350px;
    text-align: center;
    justify-content: center;
    margin: 15px;
    border: rgb(46, 46, 46) 4px solid;
}

.inf_produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    width: 350px;
    height: 500px;
    text-align: center;
    margin: 15px;
    border: rgb(46, 46, 46) 4px solid;

}

.texto_produto{
    padding: 20px;
    overflow-wrap: break-word;
}

.imagem_produto{
    width: 500px;
}

/* card */
.mae{
    display: flex;
    flex-wrap: wrap;
}
.centro{
    text-align: center;
}

.esquerda{
    text-align: left;
}
.direita{
    text-align: right;
}