.sinopseFilme {

    width: 430px;
    background-color: transparent;
    border: 2px solid rgb(207, 205, 205);
    margin: auto;
}

#icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
}

.paragrafoFilme {
    text-align: center;
    align-items: center;
    width: 300px;
    height: 150px;

}

.tamanhoFilme {
    width: 150px;
}


.logo {
    width: 450px;

}

.assentos {
    width: 600px;
}

.YouTube {
    width: 97px;
}

.GitHub {
    width: 160px;
}

.LinkedIn {
    width: 100px;
}

@media print {
    body * {
        visibility: hidden;
    }


    #relatorio,
    #relatorio * {
        visibility: visible;
    }

    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}


main {
    height: 4700px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1));
    border: 0;
    padding: 0;
    margin: 0;
    font-size: xx-large;
}

body {
    height: 4700px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1));
    border: 0;
    padding: 0;
    margin: 0;
    font-size: xx-large;
}

footer {
    text-align: left;
    align-items: left;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

select {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 500px;
    border: 2px solid #ccc;

}

input[type="number"] {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    border-radius: 500px;
    border: 2px solid #ccc;
}

form {
    margin: 20px 0;
}

button {
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 500px;
}
