*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.linha_header{
    max-width: 1200px;
    margin: 0 auto;

}
/* header */
header{
    height: 100%;
    padding: 40px 0;
    background-color: #12100D;
}
header .linha_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
header .menu nav ul{
    list-style-type: none;
}
header .menu nav ul li {
    display: inline-block;
    margin: 0 100px;
}
/* header */
a {
    text-decoration: none;
    color: white;
}
main{
    text-align: center;
    align-items: center;
}
body{
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1)); ;
    padding: 0;
    margin: 0;
    height: auto;
    color: white;
    background-color: black;
    font-size: xx-large;
}

/* definição dos filmes */

.sinopseFilme {

    width: 430px;
    background-color: transparent;
    border: 2px solid rgb(207, 205, 205);
    margin: auto;
}



.paragrafoFilme {
    text-align: center;
    align-items: center;
    width: 300px;
    height: 150px;

}

.tamanhoFilme {
    width: 150px;
}
/* definição dos filmes */


#icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
}


@media print {
    body * {
        visibility: hidden;
    }


    #relatorio,
    #relatorio * {
        visibility: visible;
    }

    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}




label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

select {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 500px;
    border: 2px solid #ccc;

}

input[type="number"] {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    border-radius: 500px;
    border: 2px solid #ccc;
}
button {
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 500px;
}
/* definição das imagens */
.logo{
    width: 150px;

}
.login{
    width: 80px;
}
.YouTube {
    width: 97px;
}

.GitHub {
    width: 160px;
}

.LinkedIn {
    width: 100px;
}
/* definição das imagens */


