.tamanhoFilme {
    width: 250px;
}


.logo {
    width: 450px;

}

.assentos {
    width: 600px;
}

@media print {
    body * {
        visibility: hidden;
    }


    #relatorio,
    #relatorio * {
        visibility: visible;
    }

    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}




main {
    height: 1500px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1));
    border: 0;
}

footer {
    height: 500px;
    text-align: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(rgb(37, 1, 1), rgb(14, 1, 1));
}