*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.linha_header{
    max-width: 1800px;
    margin: 0 auto;

}
/* header */
header{
    height: 100%;
    padding: 40px 0;
    background-color: #12100D;
}
header .linha_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
header .menu nav ul{
    list-style-type: none;
}
header .menu nav ul li {
    display: inline-block;
    margin: 0 100px;
}
/* header */


body{
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1)); ;
    padding: 0;
    margin: 0;
    height: auto;
    color: white;
    background-color: black;
    font-size: xx-large;
}

.interface_main{

    height: 100%;
    padding: 80px 0;
}
.centro {
    text-align: center;
}

@media print {
    body * {
        visibility: hidden;
    }


    #relatorio,
    #relatorio * {
        visibility: visible;
    }

    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}


.carrinho_bloco {
    color: #5e5e5e;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

select {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 500px;
    border: 2px solid #ccc;

}
.assento_numeros{
    width: 14%;
    border-radius: 500px
}
input[type="number"] {
    font-size: 18px;
    padding: 13px;
    width: 4%;
    border-radius: 500px;
    border: 2px solid #ccc;
}
button {
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 500px;
}
/* definição das imagens */
.logo{
    width: 150px;

}
.login{
    width: 90px;
}
.YouTube {
    width: 97px;
}

.GitHub {
    width: 160px;
}

.LinkedIn {
    width: 100px;
}
#icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
}
.parana {
width: 140px;
}

.escola {
width: 200px;
}
/* definição das imagens */


