*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.linha_header{
    max-width: 1800px;
    margin: 0 auto;

}
/* header */
header{
    height: 100%;
    padding: 40px 0;
    background-color: #12100D;
}
header .linha_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
header .menu nav ul{
    list-style-type: none;
}
header .menu nav ul li {
    display: inline-block;
    margin: 0 100px;
}
/* header */


body{
    background-image: linear-gradient(rgb(120, 4, 4), rgb(37, 1, 1)); ;
    padding: 0;
    margin: 0;
    height: auto;
    color: white;
    background-color: black;
    font-size: xx-large;
    text-align: center;
    
}

.interface_main{

    height: 100%;
    padding: 80px 0;
}
.centro {
    text-align: center;

}
.assentos_bloco{
    text-align: center;
}    

@media print {
    body * {
        visibility: hidden;
    }


    #carrinho,
    #carrinho * {
        visibility: visible;
    }

    #carrinho {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}



#assentosSelecionadosMostrados {
    margin-top: 8px;
    color: #ddd;
    font-size: 18px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

select {
    font-size: 18px;
    padding: 12px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 500px;
    border: 2px solid #ccc;

}
.assentos_numeros{
    width: 8%;
    padding: 22px;
}
input[type="number"] {
    font-size: 18px;
    padding: 13px;
    width: 4%;
    border-radius: 500px;
    border: 2px solid #ccc;
}
button {
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 500px;
}
/* definição das imagens */
.logo{
    width: 150px;

}
.login{
    width: 90px;
}
/* Removed unused social sizing styles */
#icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
}
.parana {
width: 140px;
}

.escola {
width: 200px;
}
/* definição das imagens */


